!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Listings
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Dosis", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body{:class => "#{params[:controller]}"}
    .header
      = render partial: '/shared/header'
    .container.content
      = yield
    .container.footer
      %ul
        %li= link_to 'Terms of use', '#'
        %li= link_to 'Legal notice', '#'

    %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
